body
{
	background:#cb8849;
	font-family: cardo;
}
#mainNavbar .navbar-brand
{
	color:white;
	font-size: 1.4rem;
}
#mainNavbar 
{
	font-size: 1.4rem;

}
h2
{
	color:white;
	font-family: cardo;
}

#headinggroup h2
{
	font-size:2rem;
	padding:20px;
}
body
{
  padding:10px;
}

h2
{
  padding:10px;
}
.row align-items-center
{
	padding: 10px;
}

nav
{
background:#656d4a;

}
.container-fliud
{
	margin: 10px;
	padding:15px;
}
.col-lg-6
{
	padding: 10px;
}
.img-fluid
{
	padding: 20px;
}
@media (max-width: 768px) 
{

  
  .col-lg-6
	{
    order: 2;
  }
  
  .img-fliud {
    order: 1;
  }
}
	


